{
  "useTabs": false,
  "singleQuote": false,
  "trailingComma": "none",
  "printWidth": 100,
  "semi": false,
  "tabWidth": 4,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-solidity"],
  "overrides": [
    {
      "files": "src/*.sol",
      "options": {
        "printWidth": 120,
        "semi": true,
        "useTabs": false,
        "tabWidth": 4,
        "bracketSpacing": true
      }
    }
  ]
}
